.link-item {
  text-decoration: none;
}

.trending-link-item {
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .trending-link-item {
    display: flex;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: none;
}
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #bfbfbf;
  cursor: pointer;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}
