.popup-content {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.close-icon {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  margin-right: 20px;
}

.ham-links {
  text-decoration: none;
}

.ham-icons {
  width: 20px;
  height: 20px;
}
